/*reset do css */
* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

body {
    background-image: url('../imagens/background.jpg');
    background-size:auto 100vh;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
  }

/* Se a tela tiver pelo menos 400px*/
@media (min-width: 400px) {

  body {
    font-size: 14px;
  }
}

/* Se a tela tiver pelo menos 600px*/
@media (min-width: 600px) {

  body {
    font-size: 18px;
  }
}


  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  
  .menu{
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    
  }

  .menu a {
    display: block;
    padding: 10px 20px;
  }
  
  .menu ul {
    display:flex;
    justify-content: space-around; 
  }
  
  .menu li {
    list-style:none;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title {
    color: whitesmoke;
    text-align: center; 
  }
  
.site-title {
  font-size: 4em;
  font-family: 'Shadows Into Light', cursive;

}

  .site-subtitle {
    font-style: italic;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.8em; /* espaçamento vertical*/
  }

  .portfolio {
    padding: 2em;
  }

  .portfolio h2 {
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    margin-bottom: 1.5em; /*espaçamento do h2 vertical */
  }

  .portfolio .grid {
    display: grid;
    gap: 1em;
    
  }

  /* Definir que apos 560px de largura, utilizar: */
  @media (min-width: 560px) {
    .portfolio .grid {
      grid-template-columns: 240px 240px;
  
    }
    
  }

   /* Definir que apos 880px de largura, utilizar: */
   @media (min-width: 880px) {
    .portfolio .grid {
      grid-template-columns: 240px 240px 240px;
  
    }
    
  }

  .portfolio figure {
    text-align: center;
  }

  .img-portfolio {
    height: 180px;
    width: 200px;
  }