/*reset do css */
* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

body {
    background-image: url('../imagens/background.jpg');
    background-size:auto 100vh;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
  }

/* Se a tela tiver pelo menos 400px*/
@media (min-width: 400px) {

  body {
    font-size: 14px;
  }
}

/* Se a tela tiver pelo menos 600px*/
@media (min-width: 600px) {

  body {
    font-size: 18px;
  }
}


  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  
  .menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    /* Evitar que animaçoes subscrevam o menu */
    z-index: 1;
  }

  .menu a {
    display: block;
    padding: 10px 20px;
    transition: background-color 1s, color 1s;
  }

  .menu a:active,
  .menu a:hover {
    background-color: black;
    color: white;
  }
  
  .menu ul {
    display:flex;
    justify-content: space-around; 
  }
  
  .menu li {
    list-style:none;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .titulo {
    /* iniciar o site com os titulos pequenos */
    transform: scale(0.2) translateY(50vh);
    /* Mexer com a transparencia */
    opacity: 0;
    animation: 1s linear 2s animacaoTitulo forwards;
  }

  /* Criar uma animação */
  @keyframes animacaoTitulo {

    from {
      /* Não precisaria colocar pois la em cima ja foi ajustado */
      /* iniciar o site com os titulos pequenos */
      transform: scale(0.2) translateY(50vh);
      /* Mexer com a transparencia */
      opacity: 0;
    }
    to {
      /* iniciar o site com os titulos pequenos */
      transform: scale(1) translateY(0);
      /* Mexer com a transparencia */
      opacity: 1;

    }
  }

  .site-subtitle,
  .site-title {
    color: whitesmoke;
    text-align: center; 
  }
  
.site-title {
  font-size: 4em;
  font-family: 'Shadows Into Light', cursive;

}

  .site-subtitle {
    font-style: italic;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.8em; /* espaçamento vertical*/
  }

  .contato, .portfolio {
    padding: 2em;
    min-height: 100vh;
  }

  .contato h2, .portfolio h2 {
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    margin-bottom: 1.5em; /*espaçamento do h2 vertical */
  }

  .portfolio .grid {
    display: grid;
    gap: 1em;
    
  }

  /* Definir que apos 560px de largura, utilizar: */
  @media (min-width: 560px) {
    .portfolio .grid {
      grid-template-columns: 240px 240px;
  
    }
    
  }

   /* Definir que apos 880px de largura, utilizar: */
   @media (min-width: 880px) {
    .portfolio .grid {
      grid-template-columns: repeat(3, 260px);
      justify-content: center;
      align-content: center;
      height: calc(100vh - 4em - 48px - 1.5em);
  
    }
    
  }

  .portfolio figure {
    text-align: center;
  }

  .img-portfolio {
    height: 180px;
    width: 240px;
    object-fit: cover; /* resolver imagens distorcidas*/
    object-position: left bottom;
    /*border-radius: 50%;  efeito círculo */;
    transition: transform 500ms;
  }

  .img-portfolio:hover {
    transform: scale(1.2);
  }

  }
  .contato .icons {
    text-align: center;
  }

  .contato a {
    color: whitesmoke;
    font-size: 4em;
    transition: text-shadow: 1s;
  }
  
  .contato a:active,
  .contato a:hover {
    text-decoration: none;
    /* text-shadow: 0px 0px 10px yellow; */
    text-shadow: 0px 0px 10px rgba(255,255,255,.5);
    
  }
